$padding: 15px;
$border-width: 2px;

.btn {
  display: inline-block;
  padding: $padding 20px;
  border: none;
  background-color: transparent;
  border-radius: 5px;
  font-size: 22px;
  font-family: $font-family-raleway;
  font-weight: 400;
  transition: all 0.3s;
  &--vertical {
    & + &  {
      margin-top: 20px;
      @media (min-width: 420px) {
        margin-left: 20px;
      }
    }
  }
  &--horizontal {
    margin: 0 10px 20px;
  }
  &--blue {
    color: #fff;
    background-color: $color-blue;
    &:hover {
      background-color: lighten($color-blue, 15%);
    }
  }
  &--ghost {
    padding-top: $padding - $border-width;
    padding-bottom: $padding - $border-width;
    border: $border-width solid #fff;
    &:hover {
      background-color: #fff;
      color: #000;
    }
  }
  &--with-icon {
    position: relative;
    padding-left: 60px;
    width: 180px;
  }
  &__icon {
    position: absolute;
    top: 50%;
    left: 20px;
    transform: translateY(-50%);
    font-size: 34px;
  }
  &__title {
    display: block;
    font-size: 12px;
    text-align: left;
  }
  &__subtitle {
    display: block;
    font-size: 20px;
    line-height: 1;
    text-align: left;
  }
  &--sns {
    color: #fff;
    width: 100%;
    padding: 5px 20px;
    margin-top: 20px;
    font-size: 15px;
    &:hover {
      color: #fff;
      text-decoration: none;
    }
    @media (min-width: $screen-sm) {
      margin-top: 0;
    }
    &.twitter {
      background-color: #3bcbff;
      &:hover {
        background-color: lighten(#3bcbff, 10%);
      }
    }
    &.facebook {
      background-color: #1e3aa6;
      &:hover {
        background-color: lighten(#1e3aa6, 10%);
      }
    }
    &.google {
      background-color: #d72d26;
      &:hover {
        background-color: lighten(#d72d26, 10%);
      }
    }
  }
}

