section.section--discover
  .container
    .row
      .discover
        .discover__main.col-xs-12.col-sm-12.col-md-6.col-md-push-6
          h2.discover__heading Discover
          p.discover__text Human rights momentum. World problem solving turmoil, change movements environmental pursue these aspirations initiative donation. Policy dialogue, underprivileged accessibility, asylum visionary, prevention beneficiaries carbon emissions reductions empower.
          .btn-group
            button.btn.btn--blue.btn--with-icon.btn--horizontal(type="button")
              .btn__icon.fa.fa-apple
              span.btn__title Donwload for
              span.btn__subtitle Apple iOS
            button.btn.btn--blue.btn--with-icon.btn--horizontal(type="button")
              .btn__icon.fa.fa-android
              span.btn__title Donwload for
              span.btn__subtitle Android
        .col-xs-12.col-sm-12.col-md-6.col-md-pull-6
          img.discover__img(src="images/discover.png" alt="ipad")


