header.header
  .container
    .row
      .header__main.col-xs-12.col-sm-8
        h1.header__title
          | Walk & Ride
          span Template
        p.header__text With a smartphone and the right app, you can find any spot on Earth. But the best navigation apps do a lot more. Look out for that speed trap.
        p.header__author Dan Rowinski
        .btn-group
          button.btn.btn--blue(type=button) Download App
          button.btn.btn--ghost(type=button) Learn more
      .hidden-xs.col-sm-4.text-right
        img(src="images/iphone.png" alt="iphone")
