section.section--news-letter
  .container
    .row
      .col-xs-12.col-sm-offset-1.col-sm-10.col-md-offset-2.col-md-8.col-lg-offset-3.col-lg-6.text-center
        .news
          h2.news__heading our newsletter
          form.form
            input.form__input(type="email" placeholder="john.@doe.com")
            input.form__btn.btn.btn--blue(type="button" value="Subscribe")
          p.news__text If you want to recieve monthly updates from us just pop your email in the box. We think that spam is for jerks. And we are no jerks.

